{{ define "main" }}
<main>
<div class="container">

    {{partial "page-header.html" (dict "Title" .Title)}}

        <div class="row">
      <div class="col-md pr-4">
        <article class="blog-single-post">{{ .Content }}</article>
      </div>
    {{if .Params.banner}}
      <div class="col-md-4 p-4">
        <aside>
          {{with .Params.banner}} {{ partial "banner.html" (dict "context" .
          "style" "aside-banner") }} {{ end }}
        </aside>
      </div>
      {{end}}

  </div>
</main>
{{ end }}
