---
title: 'Campaign win: Australian government will not force sites to implement age verification'
author: Samantha
authorThumb: /wp-content/uploads/2019/08/SamFloreani-150x150.png
date: 2023-08-31T00:18:37+00:00
url: /2023/08/31/campaign-win-against-age-verification/
featureImage: /wp-content/uploads/2023/08/celebrate.jpg
eg_vimeo_ratio:
  - 1
eg_youtube_ratio:
  - 1
eg_wistia_ratio:
  - 1
eg_html5_ratio:
  - 1
eg_soundcloud_ratio:
  - 1
eg_custom_meta_216:
  - 'true'
cybocfi_hide_featureImage:
  - yes
categories:
  - Articles

---
Yesterday, the Australian Government <a href="https://www.theguardian.com/australia-news/2023/aug/31/roadmap-for-age-verification-online-pornographic-material-adult-websites-australia-law" target="_blank" rel="noreferrer noopener">released the eSafety Commissioner&#8217;s long-awaited roadmap for age verification for online pornography</a>. We are pleased to see that the federal government will <a href="https://www.theguardian.com/australia-news/2023/aug/31/roadmap-for-age-verification-online-pornographic-material-adult-websites-australia-law" target="_blank" rel="noreferrer noopener">not force websites to implement age verification as a result of concerns about privacy and the lack of maturity of the technology</a>.

Age verification is rife with privacy and digital security risks, as well as critical effectiveness and implementation issues. We welcome this sensible announcement from the Australian government.

We have been fighting this proposal for close to three years. Over that period, we made eight submissions related to online safety and age verification, advocated in the media, participated in many consultation roundtables and workshops with government and industry, and collaborated with other privacy and security advocates, researchers, and community groups.

**This win shows that when we raise the alarm and put pressure on government we can stop harmful and invasive tech policy proposals. We need to keep up the fight to protect human rights, wellbeing and safety.**

Online safety is a highly politicised area, replete with plenty of troubling tech ideas — from attempts to undermine end-to-end encryption to broad powers for content takedowns to proposals for client-side scanning. This isn&#8217;t the first time that an invasive and flawed approach like age verification has been proposed, and it likely won&#8217;t be the last. With your ongoing support, we will continue to watch for, and fight back against, infringements on our collective digital rights.

**This advocacy work would not be possible without donations from our supporters. If you like this work and want to see more, please consider making a donation so we can keep going!**

<div class="wp-block-buttons is-layout-flex wp-block-buttons-is-layout-flex">
  <div class="wp-block-button aligncenter">
    <a class="wp-block-button__link wp-element-button" href="donate.digitalrightswatch.org.au" target="_blank" rel="noreferrer noopener"><strong>Donate now</strong></a>
  </div>
</div>

#### **Digital Rights Watch advocates against age verification in the media**

  * &#8216;<a href="https://www.abc.net.au/listen/programs/lifematters/talkback-the-challenge-of-an-adult-internet/102375726" target="_blank" rel="noreferrer noopener">The challenge of an adult internet</a>&#8216;, ABC Life Matters, 22 May 2023
  * &#8216;<a href="https://iapp.org/news/a/privacy-groups-say-ids-with-online-age-verification-is-invasive-risky/" target="_blank" rel="noreferrer noopener">Privacy groups say IDs with online age-verification is 'invasive,' 'risky'</a>&#8216;, International Association of Privacy Professionals, 3 November 2022
  * &#8216;<a href="https://junkee.com/online-age-verification-risk-hacks/344260" target="_blank" rel="noreferrer noopener">What If Hackers Could Find And Share Your Porn Viewing Habits?</a>&#8216;, Junkee, 3 November 2022
  * &#8216;<a href="https://www.theguardian.com/technology/2022/oct/31/online-age-verification-system-could-create-honeypot-of-personal-data-and-pornography-viewing-habits-privacy-groups-warn" target="_blank" rel="noreferrer noopener">Online age-verification system could create 'honeypot' of personal data and pornography-viewing habits, privacy groups warn</a>&#8216;, The Guardian, 31 October 2022
  * &#8216;<a href="https://www.vice.com/en/article/y3v5qg/australians-could-soon-have-to-prove-their-age-before-watching-porn" target="_blank" rel="noreferrer noopener">Australians Could Soon Have to Prove Their Age Before Watching Porn</a>&#8216;, VICE, 9 February 2022
  * &#8216;<a href="https://www.innovationaus.com/govt-urged-to-drop-online-age-verification-push/" target="_blank" rel="noreferrer noopener">Govt urged to drop online age verification push</a>&#8216;, InnovationAus, 21 December 2021
  * &#8216;<a href="https://www.innovationaus.com/age-verification-will-be-mandatory-for-social-under-govt-tech-crackdown/" target="_blank" rel="noreferrer noopener">Age verification will be mandatory for social under govt tech crackdown</a>&#8216;, 25 October 2021



#### **Timeline**

  * **February 2021** &#8211; Online Safety Bill introduced to parliament. Digital Rights Watch creates an <a href="https://digitalrightswatch.org.au/2021/02/11/explainer-the-online-safety-bill/" target="_blank" rel="noreferrer noopener">explainer for the public</a>, and makes a <a href="https://digitalrightswatch.org.au/2021/02/18/submission-the-online-safety-bill/" target="_blank" rel="noreferrer noopener">submission highlighting our initial concerns</a>.
  * **February &#8211; March 2021** &#8211; the Online Safety Bill is <a href="https://www.aph.gov.au/Parliamentary_Business/Committees/Senate/Environment_and_Communications/OnlineSafety" target="_blank" rel="noreferrer noopener">referred to a Senate Committee</a>. Digital Rights Watch makes <a href="https://www.aph.gov.au/Parliamentary_Business/Committees/Senate/Environment_and_Communications/OnlineSafety/Submissions" target="_blank" rel="noreferrer noopener">another submission</a>, and appears at a parliamentary <a href="https://www.aph.gov.au/Parliamentary_Business/Committees/Senate/Environment_and_Communications/OnlineSafety/Public_Hearings" target="_blank" rel="noreferrer noopener">public hearing</a> to give evidence.
  * **March 2021** &#8211; Digital Rights Watch teams up with Scarlet Alliance and AssemblyFour to publicly campaign for improvements to the Online Safety Act, and <a href="https://twitter.com/DRWaus/status/1366874498612424704?s=20" target="_blank" rel="noreferrer noopener">develops a guide to help people contact their MP</a>.
  * **June 2021** &#8211; Government calls for eSafety to develop an implementation roadmap for mandatory age verification regime for online pornography
  * **23 June 2021** &#8211; Online Safety Act passes
  * **August 2021** &#8211; Public consultation on the Restricted Access Systems discussion paper. Digital Rights Watch made a <a href="https://digitalrightswatch.org.au/2021/09/21/submission-restricted-access-system/" target="_blank" rel="noreferrer noopener">submission</a>, highlighting the digital rights issues related to Restricted Access Systems as well as Age Verification systems.
  * **August &#8211; November 2021** &#8211; Public consultation on the draft Basic Online Safety Expectations (BOSE). Digital Rights Watch created an <a href="https://digitalrightswatch.org.au/2021/11/01/bose/" target="_blank" rel="noreferrer noopener">explainer</a> on the BOSE, as well as a <a href="https://digitalrightswatch.org.au/2021/11/04/submission-draft-basic-online-safety-expectations/" target="_blank" rel="noreferrer noopener">submission</a>.
  * **October &#8211; November 2021** &#8211; a second round of consultation on the Restricted Access System declaration, Digital Rights Watch <a href="https://digitalrightswatch.org.au/2021/11/25/submission-draft-restricted-access-systems-declaration/" target="_blank" rel="noreferrer noopener">made another submission</a>.
  * **December 2021 &#8211; March 2022** &#8211; <a href="https://digitalrightswatch.org.au/2022/03/22/online-safety-inquiry-falls-short/" target="_blank" rel="noreferrer noopener">Parliamentary Inquiry into Social Media and Online Safety</a>. Digital Rights Watch made a <a href="https://digitalrightswatch.org.au/2022/01/13/submission-inquiry-into-social-media-and-online-safety/" target="_blank" rel="noreferrer noopener">submission</a> emphasising that age verification creates more harm than good.
  * **December 2021** &#8211; Consultation on the draft Online Privacy Bill, which would have created a requirement for social media companies to verify the age of their users. Digital Rights Watch made a <a href="https://digitalrightswatch.org.au/2021/12/07/submission-online-privacy-bill/" target="_blank" rel="noreferrer noopener">submission</a> highlighting the privacy and digital security risks of such a proposal.
  * **April 2022** &#8211; eSafety runs working groups to establish minimum standards for an age verification regime, Digital Rights Watch participates.
  * **March 2023** &#8211; eSafety delivers the age verification roadmap to the Australian Government
  * **August 2023** &#8211; <a href="https://www.esafety.gov.au/about-us/consultation-cooperation/age-verification" target="_blank" rel="noreferrer noopener">Age Verification roadmap published</a>, A<a href="https://www.theguardian.com/australia-news/2023/aug/31/roadmap-for-age-verification-online-pornographic-material-adult-websites-australia-law" target="_blank" rel="noreferrer noopener">ustralian government decides against implementation of age verification.</a>



#### **Age verification does more harm than good**

Age verification is privacy-invasive, which undermines the objective of reducing online harm. Most forms of age verification require the provision of additional personal information in order to be effective. Incentivising companies and government agencies to collect, use and store additional personal information in order to conduct age verification creates additional privacy and security risk, which in-turn can exacerbate online harms.

Age Verificationand Restricted Access Systemshave been considered in Australia and overseas in the past but have failed to be implemented due to their overreach, blunt approach, unreasonable impact upon individual's privacy, and the creation of adverse digital security risks.

We are concerned that any of the existing approaches to age verification will require the provision of personal information that goes well beyond proof-of-age. There are significant, if not insurmountable, challenges to implementing age verification in a way that is both effective, as well as minimising privacy and security risk.

Mandatory age verification is likely to act as a deterrent for many adults accessing legal content, and may prompt people of all ages toward less safe and secure internet services in order to circumnavigate providing personal information. Further, we remain concerned that many of the current approaches to AV are relatively easily bypassed, for example, by use of a Virtual Private Network (VPN).

The combination of these factors are likely to result in a system which is unduly invasive in data collection, creates new privacy and security risks by holding information on individuals, and yet is unlikely to be effective at preventing people under the age of 18 from accessing restricted content. We are therefore concerned that the outcome will be a system that is not simply ineffective but actively harmful.

There are many technological approaches to age verification. For an overview of the most common proposals and their pitfalls, <a href="/wp-content/uploads/2022/01/Digital-Rights-Watch_Social-Media-and-Online-Safety-Inquiry-2022.pdf" target="_blank" rel="noreferrer noopener">see pages 7-10 of this submission</a>.
