@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  font-family: $primary-font;
  color: $text-color;
  background: $body-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $text-color-dark;
  font-family: $primary-font;
  font-weight: 700;
  letter-spacing: 0.5px;
}

p {
  color: $text-color;
}
