// digitial rights watch theme colours

$drw-blue: #0b32af;
$drw-yellow: #f7ed16;

// the muted counterparts to the above colours could be calculated using bootstrap
// but the following are taken from the original WP theme
$drw-yellow-muted: #f4ea54;
$drw-blue-muted: #1e337c;

//site color variables
$body-color: #fff;
$bg-color: #dff1f4;
// original theme var mappings
$primary-color: $drw-blue;
$secondary-color: $drw-yellow-muted;
$text-color: #8c8c94;
$text-color-dark: #273437;
$site-ease: cubic-bezier(0.77, 0, 0.175, 1);
$border-color: #ededf4;
$shadow-fill: #9273ff4d;
$form-shadow: #19181d0f;

// solid colors
$white: #fff;
$black: #000;

// Font Variables
$primary-font: "Open Sans", sans-serif;

section.our-people {
  & ul {
    list-style-type: none;
    padding: 0;
  }
}

div#can_embed_form_inner {

  & h2, & h4 {
    display: none;
  }

  & input,
  .js-form-country {
    border-radius: 10px !important;
    padding: 0 30px 0 20px;
  }

  & input {

    &[type="text"],
    &[type="email"] {
      padding: 20px;
    }

    &[type="submit"] {


      &:hover {
        transform: scale(1.04);
        background: #0b32af;
      }

      background: #0b32af;
      text-transform: inherit;
      height: 60px;
      padding: 10px 30px;
      font-weight: 600;
    }
  }
}
#action_info {
  display: none;
}

// display a different background when on the front page containing the 'hero' section
body:has(.hero) {
  height: 100%;
  // left and right background images
  background-image: url("../images/hero/nav-bg-left.svg"),
    url("../images/hero/nav-bg-right.svg");
  background-position:
    top left,
    top right;
  background-size: 10%, 48%;
  background-repeat: no-repeat;
}
