{{ define "main" }}
  <main>
    <div class="container">
      {{ partial "page-header.html" . }}
      <div class="row gap-3">
        <div class="col-md">
          {{ $pages := where $.Site.Pages "Section" "blog" }}
          {{ range (.Paginate $pages  6).Pages }}
            {{ partial "article-list-item.html" . }}
          {{ end }}
          <div class="centered-pagination">
            <nav aria-label="Pagination links">
              {{ template "_internal/pagination.html" . }}
            </nav>
          </div>
        </div>
        <div class="col-md-3">
          <aside class="d-flex flex-column gap-3">
            {{/* Categories Navigation */}}
            {{ $catItems := slice }}
            {{ range $name, $taxonomy := .Site.Taxonomies.category }}
              {{/* Build the URL path for the taxonomy term page */}}
              {{ $termPage := $.Site.GetPage (printf "/category/%s" ($name | urlize)) }}

              {{ $pageCount := (len (where $taxonomy "Section" "blog" )) }}
              {{ $showCategory := true }}
              {{ if $termPage }}
                {{ $showCategory = not $termPage.Params.hideFromNav }}
              {{ end }}
              {{ if and (gt $pageCount 0) $showCategory }}
                {{ $catItems = $catItems | append (dict
                  "label" $name
                  "url" (printf "%s%s" ("category/" | relURL) ($name | urlize))
                  "count" (len (where $taxonomy "Section" "blog" ))
                  )
                }}
              {{ end }}
            {{ end }}
            {{ partial "sidebar-links.html" (dict "title" "Categories" "items" $catItems) }}

            {{/* Tags Navigation */}}
            {{ $tagsSlice := slice }}
            {{ range $name, $pages := .Site.Taxonomies.tags }}
              {{ $tagsSlice = $tagsSlice | append (dict
                "label" $name
                "url" (printf "%s%s" ("tags/" | relURL) ($name | urlize))
                "count" (len (where $pages "Section" "blog" ))
                )
              }}
            {{ end }}
            {{ $sortedTags := sort $tagsSlice "count" "desc" }}
            {{ partial "sidebar-links.html" (dict
              "title" "Tags"
              "items" $sortedTags
              "limit" 10
              "allLink" ("tags/" | relURL)
              )
            }}
          </aside>
        </div>
      </div>
    </div>
  </main>
{{ end }}
