{{ define "main" }}

<section class="page-header">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h1>{{ or .Title .Params.name }}</h1>
        <p>{{ .Params.description }}</p>
        {{ with .Content }}
        <article class="blog-single-post">
          {{ . }}
        </article>
        {{ end }}
      </div>
    </div>
  </div>
</section>

<section class="blog">
  <div class="container">
    <div class="row">
      {{ $pages := $.Site.RegularPages }} {{ range (.Paginate $pages 6).Pages }}
      {{ partial "article-card.html" . }} {{ end }}
      <div class="col-lg-12">
        <div class="blog-pagination">
          <nav>{{ template "_internal/pagination.html" . }}</nav>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
