@mixin banner() {
    @extend .jumbotron;
    @extend .jumbotron-fluid;
    margin-top: 2 * $spacer;
    margin-bottom: 2 * $spacer;
}

// first colour scheme - brand yellow with primary blue text
.banner-primary {
    background-color: theme-color("primary-alt");
    color: theme-color("primary");
}

.large-banner {
    h3 {
        @extend .display-4;
    }

    & > div {
        align-items: flex-start;
    }
}
.banner-full {
    @include banner;
}
.aside-banner {
    padding: $spacer * 2;
    padding-bottom: $spacer * 2;
    @include banner;
    h3 {
        @extend .display-4;
        font-size: $h4-font-size;
    }
    h5 {
        font-size: $h6-font-size;
    }
}
