@mixin banner() {
    .banner-text {
        padding: 2 * $spacer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    h3 {
        @extend .display-4;
    }
    h5 {
        @extend .display-4;
        font-size: $h5-font-size;
    }
    .banner-buttons {
        text-align: center;
        padding: $spacer;
    }
}
// first colour scheme - brand yellow with primary blue text
.banner-primary {
    background-color: theme-color("primary-alt");
    color: theme-color("primary");
}
// second - whiteon accecnt blue
.banner-secondary {
    color: $white;

    background-color: theme-color("accent-primary");

    .banner-text > a {
        color: $white;
        font-weight: bold;
    }
}
// grey background with the EYE (use with banner-with-image)
.banner-eye {
    background-color: theme-color("light");
    .banner-image {
        background-image: url("/images/hero/hero-image.svg");
    }
}
// this is a big hero-type banner for the homepage
// which almost 100% rewords the layout from "banner"
// to allow fitting an image onto the screen alongside the text
// with nice underlay behaviour when the screen is too narrow
.banner-with-image {
    @include banner;
    display: grid;

    grid-template-columns: 1fr;
    @include media-breakpoint-up(md) {
        grid-template-columns: 1fr 1fr;
    }
    .banner-text {
        min-height: 40vh;
        padding: 4 * $spacer;
        z-index: 2;
        // the grid column occupied by the banner text
        grid-column: 1 / 2;
        grid-row: 1;
    }
    .banner-image {
        grid-column: 1 / 2;
        grid-row: 1;
        z-index: 1;
        opacity: 0.15;
        @include media-breakpoint-up(md) {
            grid-column: 2 / 3;
            grid-row: 1;
            opacity: unset;
        }
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
}

// spans the full width of the page but is in the main content flow, so will
// not set a min height etc. see 'donate' on homepage
.banner-full {
    @include banner;
    // appears in content flow so needs airgap above and below
    margin-top: 2 * $spacer;
    margin-bottom: 2 * $spacer;
    .banner-text {
        align-items: center;
    }
    h3 {
        @extend .display-4;
        font-size: $h4-font-size;
    }
}
// also full width, but as a page header it can set a min height to dominate the first
// view of the page - see about page
.banner-full-header {
    @include banner;

    // add a little airgap as this will be followed by content
    margin-bottom: 2 * $spacer;
    .banner-text {
        min-height: 60vh;
        justify-content: center;
    }
}
// a small version of the banner scaled to appropriately fit into an aside for an article etc
.aside-banner {
    @include banner;
    .banner-text {
        padding: $spacer * 2;
        padding-bottom: $spacer * 2;
    }
    h3 {
        @extend .display-4;
        font-size: $h4-font-size;
    }
    h5 {
        font-size: $h6-font-size;
    }
}
// a banner set to col-md-5 so will fit on a row nicely with at least one more banner-col
.banner-col {
    @extend .col-md-5;
    @include banner;
    display: block;
    .banner-text {
        padding: $spacer * 2;
        padding-bottom: $spacer * 2;
        justify-content: space-between;
        height: 100%;
    }
    h3 {
        @extend .display-4;
        font-size: $h4-font-size;
    }
    h5 {
        font-size: $h6-font-size;
    }
}
