.hero {
  background-color: transparent;

  &-content {
    // todo: remove these buttons  - currently used by _video.scss
    &-buttons {
      padding-left: 0;
      margin: 0;
      list-style: none;

      li {
        display: inline-block;

        &:not(:last-child) {
          margin-right: 15px;
          @include mobile {
            margin-right: 0;
            margin-bottom: 20px;
          }
        }
        @include mobile {
          display: block;
        }
      }
    }
  }
}
