{{ define "main" }}

<section class="page-header">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <img alt="" src="{{ .Params.image }}" class="rounded-circle w-25 img-fluid mb-5 mx-auto">
        <h1>{{ .Title }}</h1>
        <p>{{ .Params.description }}</p>
        {{ with .Content }}
        <article class="blog-single-post">
          {{ . }}
        </article>
        {{ end }}
      </div>
    </div>
  </div>
</section>

<section class="blog">
  <div class="container">
    <div class="row">
      {{ range (.Paginator 6).Pages }}
        {{ partial "post-card.html" . }}
      {{ end }}
      <div class="col-lg-12">
        <div class="blog-pagination">
          <nav>
            {{ template "_internal/pagination.html" . }}
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
