{{ $contentKey := or .contentKey "newsletterSignup" }}

{{ with index site.Data.actionnetwork_embeds $contentKey }}
  <link
    href="https://actionnetwork.org/css/style-embed-whitelabel-v3.css"
    rel="stylesheet"
    type="text/css"
  />
  {{ if not .disableEmbed }}
    <script src="{{ .scriptSrcUrl }}"></script>
  {{ end }}
  <div class="{{ .layoutClass }}">
    <div id="{{ .widgetWrapperId }}" class="actionnetwork-widget-wrapper">
      {{ $buttonVisibilityClass := cond .disableEmbed "" "delayed-visible" }}
      {{ with .fallbackLink }}
        <a
          href="{{ .url }}"
          class="btn btn-lg btn-opaque-outline-primary-alt font-weight-bolder text-uppercase {{ $buttonVisibilityClass }} visible-noscript"
        >
          {{ .text }}
        </a>
      {{ end }}
    </div>
  </div>
{{ end }}
