{{ $include:= .include }} {{ $filter := (or .imageFilter (images.Process "fill 400x300")) }} {{ with .context }} {{ $link := .Permalink }}

<div class="card rounded-0 m-0 reading-width h-100">
  {{ with resources.Get (or .Params.cardImage .Params.featureImage )}} {{ with .
  | images.Filter $filter }}
  <a href="{{$link}}">
    <img
      src="{{ .RelPermalink }}"
      width="{{ .Width }}"
      height="{{ .Height }}"
      alt=""
      class="card-img-top img-fluid rounded-0"
    />
  </a>
  {{ end }} {{ end }}

  <div class="card-body p-2">
    {{if and (in $include "category") .Params.category}} {{ range first 1
          .Params.category }} {{ with (index site.Taxonomies.category (lower .))
          }}
          <h5 class="text-uppercase text-accent-primary font-weight-bold small">
            {{.Page.Title | singularize}}
          </h5>

          {{end}} {{end}} {{end}}
          <h4>
            <a href="{{.Permalink}}" class="stretched-link text-body">
              {{.Title}}
            </a>
          </h4>
{{if in $include "date"}}
    <p>{{ .PublishDate.Format "January 2, 2006" }}</p>
    {{end}}
    <p class="card-text small article-content">
      {{ or .Summary .Params.summary }}
    </p>
        <a href="{{ $link }}" class="read-more-link">Read More <i class='ti-angle-double-right'></i></a>
    
  </div>
  
</div>
{{end}}
