{{ $contentKey := or .contentKey "default" }}
{{ $layoutKey := .layoutKey }}
{{ $scratch := newScratch }}
{{ $configuredContent := index (where site.Data.banners.content "key" $contentKey ) 0 }}




{{/* you would have thought merge and frields would work here. they didnt . have not yet worked out why so doing it all
by hand to avoid subtle mutations of underlying data ! */}}
{{ $scratch.SetInMap "content" "description" (or .overrideDescription $configuredContent.description) }}
{{ $scratch.SetInMap "content" "title" (or .overrideTitle $configuredContent.title) }}
{{ $scratch.SetInMap "content" "subtitle" (or .overrideSubtitle $configuredContent.subtitle) }}
{{ $scratch.SetInMap "content" "layout" (or .layoutKey $configuredContent.layout) }}
{{ $scratch.SetInMap "content" "buttonText" (or .overrideButtonText $configuredContent.buttonText) }}
{{ $scratch.SetInMap "content" "buttonUrl" (or .overrideButtonUrl $configuredContent.buttonUrl) }}

{{ $content := $scratch.Get "content" }}

{{ $layout := index (where site.Data.banners.layouts "key" $content.layout) 0 }}

<section class="{{ $layout.bannerClass }}">
  <div class="banner-text">
  {{ with $content }}
        {{ if .subtitle }}
          <h5 class>
            {{ .subtitle }}
          </h5>
        {{ end }}
        <h3>{{ .title }}</h3>
        {{ if .description }}
            {{ .description | markdownify }}
        {{ end }}
      {{ if and .buttonUrl .buttonText }}
        <div class='banner-buttons'>
        <a
          href="{{ .buttonUrl }}"
          class="btn {{ $layout.buttonClass }} font-weight-bolder text-uppercase"

        >
          {{ .buttonText }}
        </a>
        </div>
      {{ end }}
  </div>
  <div class="banner-image">
    </div>
  {{ end }}
</section>
