{{ $contentKey := .contentKey }}
{{ $layoutKey := .layoutKey }}
{{ $content := index site.Data.banners.content $contentKey }}
{{ $layoutKey := or $layoutKey $content.defaultLayout "default" }}
{{ $layout := index site.Data.banners.layouts $layoutKey }}

{{ $buttonStyle:= or .buttonStyle "" }}


<section class="{{ $layout.bannerClass }}">
  {{ with $content }}
    <div class="container d-flex flex-column gap-3 align-items-center">
      <div>
        {{ if .subtitle }}
          <h5 class>
            {{ .subtitle }}
          </h5>
        {{ end }}
        <h3>{{ .title }}</h3>
      </div>
      {{ if .description }}
        <p>{{ .description | markdownify }}</p>
      {{ end }}
      {{ if and .buttonUrl .buttonText }}
        <a
          href="{{ .buttonUrl }}"
          class="btn {{ $layout.buttonClass }} btn-opaque-outline-primary font-weight-bolder text-uppercase"
        >
          {{ .buttonText }}
        </a>
      {{ end }}
    </div>
    </div>
  {{ end }}
</section>
