{{ if not .IsHome }}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{ "/" | relURL }}">Home</a>
    </li>
    {{/* Reverse the ancestors so that the highest level comes first */}}
    {{ range (.Ancestors.Reverse) }}
    {{ if not .Params.noBreadcrumbs }}
    <li class="breadcrumb-item">
        <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
        </li>
        {{ end }}
        {{ end }}

        {{/** add in first category to nav to show 'articles' 'submissions'**/}}
        {{with (index .Params.category 0)}}
          {{ $termPage := $.Site.GetPage (printf "/category/%s" (. | urlize)) }}
        <li class="breadcrumb-item" >
          <a href="{{ $termPage.RelPermalink }}"> {{ $termPage.Title }}</a>
        </li>
        {{end}}
    <li class="breadcrumb-item active" aria-current="page">
      {{ .Title }}
    </li>
  </ol>
</nav>
{{ end }}
