{{ with .Site.Data.donate }} {{ if .enable }}
<section id="donate">
  <div class="jumbotron jumbotron-fluid bg-primary-alt p-4">
    <div class="container d-flex flex-column align-items-center gap-3">
      <h3 class="text-primary">{{ .title }}</h3>

      <p class="lead text-primary">{{ .description | markdownify }}</p>

      <a
        href="{{ .buttonUrl }}"
        class="btn btn-lg btn-outline-primary-opaque text-uppercase"
      >
        {{ .buttonText }}
      </a>
    </div>
  </div>
</section>
{{ end }} {{ end }}
