{{ $currentPage := . }}

<nav class="navbar navbar-expand-md navbar-light main-nav">
  <div class="container">
    <a class="navbar-brand" href="{{ .Site.BaseURL }}">
      <img
        class="logo-main"
        src="{{ .Site.Params.logo | absURL }}"
        alt="{{ .Site.Params.logoAltText }}"
        width="154px"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#mainNav"
      aria-controls="mainNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNav">
    <ul class="navbar-nav">
        {{ range .Site.Menus.main }}
      {{ if eq .Parent "" }}
        {{$current:= or ($currentPage.IsMenuCurrent .Menu .) ($currentPage.HasMenuCurrent .Menu .) }}

        <li class="nav-item">

          <a
            href="{{ .URL | relURL }}"
            class="nav-link {{if .Params.callToAction}} btn btn-sm btn-primary-alt px-3 {{end}} {{ if $current }} active font-weight-bold{{ end }} text-uppercase"
          >
            {{ .Name }}
          </a>
        </li>
        {{ end }} {{ end }}
      </ul>
    </div>
  </div>
</nav>
<div class="container mb-2">
{{ partial "breadcrumbs.html" . }}
{{ range site.Menus.main }}
  {{ if and (.HasChildren) (or (eq $currentPage.RelPermalink .URL) ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .)) }}
    <nav class="secondary-nav mb-2">
              <ul class="nav">
                {{ range .Children }}
                  <li class="nav-item">
                    <a class="nav-link {{ if or (eq $currentPage.RelPermalink .URL) ($currentPage.IsMenuCurrent "main" .) }}active{{ end
                        }}" href="{{ .URL }}">{{ .Name }}</a>
                    </li>
                    {{ end }}
                    </ul>
    </nav>
    {{ end }}
{{ end }}
</div>
