{{ with .Site.Data.hero }} {{ if .enable }}
<section class="hero" id="hero">
  {{if .caption}}
  <h6 class="hero-subtitle">{{.caption}}</h6>
  {{end}}
  <div class="row mx-0 mx-lg-5 align-items-center">
    <div class="col col-8">
      <h1 class="hero-title">{{ .title }}</h1>
      <div class="hero-text">{{ .description | markdownify }}</div>

      {{ if or .button1text .button2text }}
      <div class="p-2 d-flex justify-content-end gap-3 align-items-center">
        {{ if .button1text }}
        <a href="{{.button1link}}" class="btn btn-outline-primary"
          >{{ .button1text }}</a
        >
        {{ end }} {{ if .button2text }}
        <a href="{{.button2link}}" class="btn btn-outline-primary"
          >{{ .button2text }}</a
        >
        {{ end }}
      </div>

      {{ end }}
    </div>
    {{ if .image }}

    <img src="{{ .image }}" alt="" class="col image-fluid" />

    {{end}}
  </div>
</section>
{{ end }} {{ end }}
