{{ with .Site.Data.hero }} {{ if .enable }}
<section class="jumbotron jumbotron-fluid bg-transparent m-0 p-0" id="hero">
  {{if .caption}}
  <h6 class="hero-subtitle">{{.caption}}</h6>
  {{end}}
  <div class="row mx-0 mx-lg-5 align-items-center px-3 h-100">
    <div class="col col-8">
      <h1 class="display-3">{{ .title }}</h1>
      <div class="lead py-3">{{ .description | markdownify }}</div>

      {{ if or .button1text .button2text }}
      <div class="mx-auto">
        {{ if .button1text }}
        <a href="{{.button1link}}" class="btn btn-primary btn-lg rounded"
          >{{ .button1text }}</a
        >
        {{ end }} {{ if .button2text }}
        <a href="{{.button2link}}" class="btn btn-primary btn-lg rounded"
          >{{ .button2text }}</a
        >
        {{ end }}
      </div>

      {{ end }}
    </div>
    {{ if .image }}

    <img src="{{ .image }}" alt="" class="col col-4 w-25" />

    {{end}}
  </div>
</section>
{{ end }} {{ end }}
