{{ with .context }} {{ $link := .Permalink }} {{ $filter := (images.Process "fit 350x350") }}

<div class="card text-center rounded-0 m-1 reading-width">
  {{ with resources.Get (or .Params.cardImage .Params.featureImage )}} {{ with .
  | images.Filter $filter }}
  <a href="{{$link}}">
    <img
      src="{{ .RelPermalink }}"
      width="{{ .Width }}"
      height="{{ .Height }}"
      alt=""
      class="card-img-top img-fluid rounded-0"
    />
  </a>
  {{ end }} {{ end }}

  <div class="card-body p-2">
    <a href="{{.Permalink}}"><h4 class="card-title">{{.Title}}</h4></a>
    <p class="card-text small">{{ .Params.summary }}</p>
  </div>
  <div class="card-footer border-0 bg-transparent">
    <a
      href="{{ .Permalink }}"
      class="text-uppercase mx-auto btn btn-outline-primary-opaque btn-sm"
      >Learn more</a
    >
  </div>
</div>
{{end}}
