{{ define "main" }}
<main>
  <div class="container">
    {{partial "page-header.html" .}}
    <div class="row">
      {{ range (.Paginator 6).Pages }}
      <div class="col-md-4 p-0">
        {{partial "article-card.html" (dict "context" . "include" ("date")
        "imageFilter" (images.Process "fill 320x200 Center" ) )}}
      </div>
      {{end}}
    </div>
    <div class="centered-pagination">
      <nav aria-label="Pagination links">
        {{ template "_internal/pagination.html" . }}
      </nav>
    </div>
  </div>
</main>
{{ end }}
