{{ define "main" }}
  <main>
    {{ partial "banner.html" (dict "contentKey" "aboutPageHeader") }}
    <div class="container-fluid mb-4">
      {{ with .GetPage "about/includes" }}
        {{ $vision_cards := (.Resources.Get "vision-cards.yml") | transform.Unmarshal }}
        <div class="col-md-8 mx-auto small text-center mb-4">
          {{ $vision_cards.content | markdownify }}
        </div>
        {{ $resources := .Resources }}
        <div class="bg-light row justify-content-center px-5 mb-4">
          {{ range $vision_cards.cards }}

            <div class="col-md-3 text-center">
              <div class="p-4">
                {{ with $resources.Get .icon }}
                  <img
                    src="{{ .RelPermalink }}"
                    alt=""
                    width="60"
                    height="60"
                  />
                {{ end }}
              </div>
              <h5 class="font-weight-bold">
                {{ .title }}
              </h5>
              <p class="text-secondary small">{{ .content }}</p>
            </div>
          {{ end }}
        </div>

      {{ with .Resources.Get "principles.md" }}

        <div class="col-md-8 mx-auto small mb-4">
          {{ .Content }}
        </div>
      {{ end }}
    </div>
    <div class="container-fluid my-5">
    <div class="row justify-content-center gap-3">
        {{ partial "banner.html" (dict "contentKey" "donation" "layoutKey" "colPrimary") }}

        {{ partial "banner.html" (dict "contentKey" "signup" "layoutKey" "colSecondary") }}
    </div>
    </div>
    {{ with .Resources.Get "footer.md" }}

    <div class="col-md-8 mx-auto small mb-5">
        {{ .Content }}

    </div>
    {{ end }}
    {{ end }}

    </main>
{{ end }}
